.hidden { display: none; }

body {
	background-color: #DCE2D6;
}

a {
	color: #B78F9A;
	text-decoration: none;
}

a:hover {
	color: #CCBABF;
	text-decoration: underline;
}


#main .avail {
	background-color: #C298A4;
	padding: 8%;
	text-align: center;

	color: #fff;
	font-size: 5em;

	font-family: "Fira Sans";
	font-weight: 500;
    font-style: italic;
}

#main .subtext {
	background-color: #fff;
	padding: 5%;

	font-size: 1em;
	color: #000;

	font-family: "Fira Sans";
	font-weight: 400;
	font-style: italic;
}

#main .content {
	text-align: center;

	font-size: 2em;
	color: #fff;

	font-family: "Fira Sans";
	font-weight: 300;
	font-style: italic;
}

ul {
	list-style-type: none;
	margin-left: -1em;
}

ul li {
	margin-top: 0.5em;
}

#main .content a {
	background-color: #fff;
	color: #000;

	padding: 0.2em;

	text-decoration: none;
}

#main .content a:hover {
	text-decoration: underline;
}

#main .content a.active {
	text-decoration: underline;
}